.chats {
    width: 100%;
    max-width: 800px;
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 0.9rem;
}

.GeminiDiv {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    max-width: 85%;
}

.userMessage {
    background-color: #323232;
    padding: 10px 14px;
    border-radius: 14px;
    max-width: 75%;
    width: fit-content;
}

.hljs{
    border-radius: 14px;
}

pre {
    background: #0d1117;
    padding: 14px;
    border-radius: 10px;
    overflow-x: auto;
    white-space: pre-wrap;      /* Since CSS 2.1 */
}

.GeminiDiv p,
.GeminiDiv pre,
.GeminiDiv ul,
.GeminiDiv ol,
.GeminiDiv li,
.GeminiDiv blockquote {
    display: block;
    width: 100%;
}