.sidebar {
    background-color: #1E1F20;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: aquamarine;
    border-radius: 50%;
    object-fit: cover;
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}